//font cursive
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-size: 62.5%;
}

$font-caveat: Caveat;