//font cursive
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');


$font-caveat: Caveat;


//-------------------------- Couleurs ---------
$color-text: white;
$color-grey: lighten(black,60);

//------------------- Breakpoints ------------
$break-tablet:420px;
$break-pc: 1200px;

@mixin tablet{
    @media screen and(min-width: $break-tablet){
        @content;
    }
}

@mixin pc{
    @media screen and(min-width: $break-pc){
        @content;
    }
}


//------------------ Font-size
$title-size: 20vw;
$middle-size: 10vw;
$small-size: 5vw;
$vsmall-size: 2.5vw;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: $color-text;
    font-size: 62.5%;
}

